<!DOCTYPE html>
<html>

<head>
    <title>Ken Trinh Analytics</title>
    <link rel="icon" type="image/x-icon" href="images/icon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <!-- Anychart -->
    <script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-venn.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <!--     <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Welcome to Ken Trinh Porfolio</a>
            </div>
        </div>
    </nav> -->
    <div ng-app="myApp" ng-controller="myCtrl">
        <!--         <div class="book">
        </div> -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-header">
                        <p style="display:inline;"><img src="images/logo.png" class="img-fluid" alt="Responsive image" width="400" height="500" align="left">
                        </p>
                    </div>
                    <!--       <img src="images/logo.png" class="img-fluid" alt="Responsive image" width="50" height="60">
                    <h1>Ken Porfolio</h1> -->
                </div>
                <div class='navbar navbar-expand-lg'>
                    <ul class="navbar-nav mr-auto">
                        <li ng-repeat='item in menu' ng-class="{'active': item.id == selected}" ng-click="go(item)">
                            <a class="nav-link" style="cursor: pointer;">{{item.id}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-show="selected=='about'">
                <p>Ken is an <b>data practisioner</b> who aims to utilitise his expertise to </p><b>maximise</b> his clients' current decision-making <b>potential</b>.</p>
                <div class="sphere one">
                    <span class="text coding">Technology</span>
                    <p class="blurb">Python, SQL, Tableau, PowerBI, Spotfire, Javascript, AWS S3, AWS Athena, Advance Excel, R, SAS JMP. </p>
                </div>
                <div class="sphere two">
                    <span class="text stat">Applied
                        Statistics</span>
                    <p class="blurb">Quantitative methods, correlation, regression, control chart.</p>
                </div>
                <div class="sphere three">
                    <span class="text vis">Visualisation</span>
                    <p class="blurb">Visualisation best practice to ensure high quality in both aesthetic and meaningful aspects</p>
                </div>
                <div class="sphere four">
                    <span class="text dom">Domain</span>
                    <p class="blurb">Mining, Pharmaceutical, Train/Rail, Finance, Marketing, Project Management</p>
                </div>
            </div>
            <div ng-show="selected=='portfolio'">
                <p></p>
                <div class="row">
                    <div class="col-md-3"  ng-repeat="p in works">
                        <iframe width="100%"  ng-src="{{p.src}}" allowfullscreen></iframe>

                        <div class="card-title">{{p.title}}</div>
                        <p class="card-text">{{p.text}}</p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- Controller -->
<!-- <script type="text/javascript">
$(function() {
    $('[data-toggle="tooltip"]').tooltip()
})
</script> -->

</html>