<!DOCTYPE html>
<html>

<head>
    <title>IoT Asset Monitoring</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.0.0.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="/javascripts/main.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<!-- <body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to
        <%= title %>
    </p>
   <input class="datepicker" data-date-format="mm/dd/yyyy">
   <div class="input-group date" data-provide="datepicker">
    <input type="text" class="form-control">
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>
</div>
</body> -->

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">DeltaFM</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div ng-app="myApp" ng-controller="myCtrl">
            <!--             <div class="col-md-6">
                <p class="input-group">
                    <input type="date" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                </p>
            </div> -->
            <div class="form-row">
                <form name="myForm">
                <!-- <form name="myForm" ng-show="last_job_status=='Completed'"> -->
                    <h3>IoT Asset Monitoring</h3>
                    <p>Input token to refresh data</p>
                    <div class="col-md-3 mb-3">
                        <label for="validationServer05"></label>
                        <input type="text" class="form-control is-invalid" id="validationServer05" placeholder="Input Token" ng-model="token" required>
                        <!--                         <div class="invalid-feedback">
                            Get token <a href="https://tableautest.compass-group.com.au/#/views/FlightManifest/FlightManifest">here</a>
                        </div> -->
                    </div>
                    <!--                     <div class="col-md-3 mb-3">
                        <label for="validationServer03">Date</label>
                        <input type="date" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    </div> -->
                    <div class="col-md-3 mb-3">
                        <!-- <label for="validationServer03"></label> -->
                        <button type="submit" class="btn btn-primary" ng-click="chooseDate()" id="btnClear">Submit</button>
                    </div>
                </form>
                <p ng-show="last_job_status !='Completed'" id="job_status">Job Status: {{last_job_status}}<img src="https://cdn.dribbble.com/users/563824/screenshots/3633228/untitled-5.gif" width="20%" height="20%"></p>
            </div>
        </div>
    </div>
</body>
<!-- Controller -->

</html>