<!DOCTYPE html>
<html>

<head>
    <title>IVMS Upload Files</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="/javascripts/main.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">CGA</a>
            </div>
        </div>
    </nav>
    <div ng-app="myApp" ng-controller="myCtrl">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <div class="hexagon">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Paris" class="overlay">
                    </div>
                    <div class="hexagon">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Paris" class="overlay">
                    </div>
                    <div class="hexagon">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Paris" class="overlay">
                    </div>
                    <div class="hexagon">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Paris" class="overlay">
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
    </div>
</body>
<!-- Controller -->
<!-- <script type="text/javascript">
$(function() {
    $('[data-toggle="tooltip"]').tooltip()
})
</script> -->

</html>