.hexagon {
  float: left;
  position: relative; top:50px; right:50px; left:20px;
  width: 150px;
  height: 150px;
  background: #ebebeb;
  box-sizing: border-box;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-size :cover ;
  margin-left: 10px;
  margin-top: 10px;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:1;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.row .even {
	margin-left: 53px;
}
.hexagon:hover {
	  width: 160px;
  height: 160px;
}