body {
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}

  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }

  #btnClear{
    /*display: inline-block;
    vertical-align: top;*/
    margin-top: 20px!important;
}

#job_status {
  margin-top: 15px;
  font-size: 30px;
}